<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
  <div id="graphContainer" style="overflow:hidden;width:321px;height:241px">
  </div>
</body>

</html>